/* Element selector */
body {
  font-family: Arial;
  background-color: rgb(189, 255, 189);
  font-size: 30px;
}

h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Class selector */

.first {
  color: red;
}

/* ID selector */
#your-name {
  background-color: burlywood;
  border: 5px solid #b2108c;
}
